html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.model-ui {
    min-height: 100vh;
    min-width: 100vw;
    position: relative;

    /* display: grid; */

    overflow: hidden;

    .render-container {
        position: absolute;
        height: 100%;

        width: 100%;
    }
}